/*main body styles*/
body {
  background: -webkit-linear-gradient( top, white, gray, white ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, white , gray, white ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, white , gray, white ) ; /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, white , gray, white); /* Standard syntax */
font-family: verdana,
arial, sans-serif;
font-size: 18px;}
/*styles for the wrapper that surrounds the site content*/
#wrapper {
  margin: auto;
  width: 95%;
  background-color: #F0F0F0;
  box-shadow: 5px 5px 5px #2e0000;
  border-radius: 20px 20px 20px 20px;
  }
/*contains the content inside the wrapper better*/
#mainContainer {
  margin: auto;
  width: 85%;
  }
/*styles for images on the site*/
img {
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
  max-width: 100%;
  height: auto;
  }
/*styles for the site header*/
.header {
  background-color: rgb(27,45,94);
  height: 75px;
  color: white;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  font-family: cursive;
  font-style: italic;
}
/*styles for the h3 headings on the site*/
h3 {
  border: 3px solid orange;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(27,45,94);
  text-transform: uppercase;
  color: #F0F0F0;
  text-align: center;
  }
/*navigation styles*/
nav {
  width: auto;
  margin-top: -30px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: rgb(27,45,94);
  text-decoration: none;
  }
nav ul {
  text-align: center;
  padding: 10px 0px 10px 0px;
  font-size: 1.1em;
  list-style-type: none;
  display: block;
  }
nav li {
  display: inline;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.6em;
  padding-right: 0.6em;
  }
nav a {
  text-decoration:  none;
  }
nav a:link {
  color: orange;
  }
nav a:visited {
  color: orange;
  }
nav a:hover {
  color: cyan;
  }
/*styles for the page headliner*/
#headline {
  font-size: 32px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  text-align: center;
}
/*styles for base and featured page content*/
#content {
  padding: 20px 20px 20px 20px;
  }
#featInfo {
text-align: center;
height: auto;
}
#featInfo img  {
  max-width: 500px;
  max-height: 350px;
  }
/*styles for the past projects on the projects page*/
#PastProjects {
    text-align: center;
    padding-bottom: 20px;
    }
#PastProjects img {
    float: none;
    width: 200px;
    height: 200px;
    }
ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  }
ul.img-list li {
  display: inline-block;
  height: 200px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 200px;
  }
span.text-content{
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 205px;
  left: 0;
  position: absolute;
  top: 0px;
  width: 205px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  border-radius: 20px 20px 20px 20px;}
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  }
ul.img-list li:hover span.text-content {
  opacity: 1;
  }
/*styles for the footer*/
footer {
  background-color: rgb(27,45,94);
  color: white;
  padding: 20px;
  font-size: .80em;
  font-style: italic;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  }
footer nav {
  margin-top: 0px;
}
footer a {
  display: inline;
  }
footer a:link {
  color: orange;
  }
footer a:visited {
  color: orange;
  }
footer a:hover {
  color: cyan;
  }
/*styles for the index page slider*/
.my-slider img {
  border-style: solid; border-radius: 5px 5px 5px 5px; border-color: black;
  max-width: 100%;
  max-height: 100%;
}
/*about page skill set*/
summary {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  margin-top: 50px;
}
/*about page img*/
#about img{
  float: left;
  margin-right: 20px;
}
/*old links style for projects that link to old websites*/
#oldLink {
  font-size: 24px;
  text-align: center;
  padding-top: 50px;
}
/*Contact Form*/ 
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}
.body {
    display:block;
    margin:0 auto;
    width:576px;
}
/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
}
/* Style the text boxes */

textarea {
	height:213px;
	background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}
input, textarea {
    width:400px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
input:focus, textarea:focus {
    border:1px solid #97d6eb;
}
#submit {
    width:127px;
    height:38px;
    background-color: rgb(27,45,94);
    color: white;
    border:none;
    margin-top:30px;
    cursor:pointer;
}
	#submit:hover {
	    opacity:.9;
	}
/*End Contact Form*/

/*styles for repsonsive design on different screen sizes*/
@media (max-width: 768px) {
   header {width: auto; max-width: 768px; background-image : url(images/site/logo_mobile.jpg)}
   body { width: auto; }
   nav { max-width: 768px; width: auto;}
   nav a {display: block; border: 2px solid rgb(255,140,0);}
   #wrapper {width: auto !important;}
   #content {width: auto; max-width: 768px;}
   #featInfo {height: auto; max-width: 768px; padding-bottom: 50px; }
   #featInfo img {width: 75%; height: 75%;}
   footer {font-size: 1.1em;}
   footer nav a {display: block; border: 2px solid rgb(255,140,0);}
 
  ul.tabs {
  text-align: center;
  font-size: 15px;
  line-height: 1;
  list-style: none outside none;
  position: absolute;
  top: 0;
}
div.redux2 {
    padding-top: 200px;
  }
  
  li.tab {
  width: 120px;
  height: 60px;
}
#about img{
  float: none;
  margin-right: 0px;
}
   }

@media (max-width: 500px){
  div.redux2 {
    padding-top: 350px;
  }
#about img{
  float: none;
  margin-right: 0px;
}
}



