body {
  background: -webkit-linear-gradient(left top, black , gray); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, black, gray); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, black, gray); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, white , gray); /* Standard syntax */
font-family: verdana,
arial, sans-serif;}
#wrapper { margin: auto; width: 95%;
         background-color: #F0F0F0;
        box-shadow: 5px 5px 5px #2e0000; border-radius: 20px 20px 20px 20px;  }
#mainContainer { margin: auto; width: 90%;}

img { border-style: solid; border-radius: 20px 20px 20px 20px; max-width: 100%; height: auto;}

header, hgroup, nav, footer, figure, figcaption, aside,
section, article
{ display: block; }

header {background-color: rgb(27,45,94);  background-image : url(images/site/logo.jpg);
background-position: center;
background-repeat: no-repeat;
height: 100px;
color: rgb(27,45,94); border-radius: 20px 20px 0px 0px;}

h1 {margin-bottom: 0;
    height: 100px;
    text-indent: -9999px; }
h3 { background-color: rgb(27,45,94);
    text-transform: uppercase;
    color: #F0F0F0}
nav {width: auto;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;}
nav ul { text-align: center;
        padding: 0;
        font-size: 1.2em;
        list-style-type: none; }
nav li { display: inline; padding-top: 0; padding-bottom: 0;
padding-left: 0.6em; padding-right: 0.6em;}
nav a { text-decoration:  none; text-align: center; display: block;  margin-bottom: -10px; margin-top: -10px;}
nav a:link { color: black;}
nav a:visited { color: gray; }
nav a:hover { color: cyan; }
.nav a, .example {
	display: inline-block;
	font-family: 'ColaborateLightRegular', Arial, sans-serif;
	font-size: 12px;
	color: rgb(100,100,100);
	text-decoration: none;
	border-radius: 0.25em;
	padding: .25em .5em;
	background-color: rgba(255,211,224,.5);
	-webkit-transition: all .25s ease-in;
	-moz-transition: all .25s ease-in;
	-o-transition: all .25s ease-in;
	transition: all .25s ease-in;
	cursor: pointer;
}

.nav a:hover, .example:hover{
	background-color: rgba(255,255,255,.85);
	color: rgb(0,0,0);
}

#headline {
  font-size: 32px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  
}

#content {padding: 20px 20px 20px 20px;}
#featInfo { text-align: center; height: auto; }
#featInfo img  {max-width: 500px; max-height: 350px;}
#news {text-align: center; height: auto;}
#PastProjects {text-align: center; padding-bottom: 20px;}
#PastProjects img {float: none; width: 200px; height: 200px;}
ul.img-list {list-style-type: none; margin: 0; padding: 0; text-align: center;}
ul.img-list li {display: inline-block; height: 200px; margin: 0 1em 1em 0; position: relative; width: 200px;}
span.text-content {background: rgba(0,0,0,0.5); color: white; cursor: pointer; display: table; height: 205px; left: 0;
position: absolute; top: 0px; width: 205px; opacity: 0;  -webkit-transition: opacity 500ms;
-moz-transition: opacity 500ms;
-o-transition: opacity 500ms;
transition: opacity 500ms;
border-radius: 20px 20px 20px 20px;}
span.text-content span {display: table-cell; text-align: center; vertical-align: middle;}
ul.img-list li:hover span.text-content {opacity: 1;}
footer {background-color: rgb(27,45,94); color: white; padding: 20px;
 font-size: .60em; font-style: italic; text-align: center; border-radius: 20px 20px 20px 20px;}
footer a {display: inline;}
footer a:link { color: orange;}
footer a:visited { color: gray;}
footer a:hover { color: cyan;}


li.tab {
  background-color: #FF8000;
  color: #333;
  cursor: pointer;
  float: left;
  font-size: 120%;
  list-style: none outside none;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 130px;
  border: 1px solid rgb(27,45,94);
  border-radius: 10px 10px 10px 10px;
}

li.tab.selected { background-color: orange; }

ul.tabs {
  text-align: center;
  font-size: 12px;
  line-height: 1;
  list-style: none outside none;
  margin: auto;
  padding: 5px;
  position: absolute;
  top: 0;
}

div.redux {
  margin-top: auto;
  font-family: "Helvetica", "san-serif";
  font-size: 24px;
}

div.redux2 {
  background-color: rgb(27,45,94) ;
  border: 3px solid orange;
  color: #DDD;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
  padding-top: 100px;
  position: relative;
  border-radius: 15px 15px 15px 15px;
}

#oldLink {
  font-size: 24px;
  text-align: center;
  padding-top: 50px;
}

#map {
        height: 400px;
        width: 100%;
       }
 
.ContactView-title {
  font-size: 24px;
  padding: 0 24px;
}

.ContactView-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #f0f0f0;
}

.ContactItem {
  margin: 0;
  padding: 8px 24px;
  border-bottom: 1px solid #f0f0f0;
}
.ContactItem-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.ContactItem-email {
  font-size: 14px;
  margin-top: 4px;
  font-style: italic;
  color: #888;
}
.ContactItem-description {
  font-size: 14px;
  margin-top: 4px;
}


.ContactForm {
  padding: 8px 24px;
}
.ContactForm > input,
.ContactForm > textarea {
  display: block;
  width: 240px;
  padding: 4px 8px;
  margin-bottom: 8px;
  border-radius: 3px;
  border: 1px solid #888;
  font-size: 14px;
}
.ContactForm > input.ContactForm-error {
  border-color: #b30e2f;
}

#dashboard {
width: 200px;
background-color: rgb(27,45,94);
padding: 5px 20px 5px 20px;
position: fixed;
left: -215px;
z-index: 100;
border-radius: 5px 50px 30px 5px;
}

@media (max-width: 768px) {
   header {width: auto; max-width: 768px;}
   body { width: auto; }
   nav { max-width: 768px; width: auto;}
   #wrapper {width: auto !important;}
   #content {width: auto; max-width: 768px;}
   #featInfo {height: auto; max-width: 768px; padding-bottom: 50px; }
   #featInfo img {width: 75%; height: 75%;}
   #dashboard {padding:  5px 40px 5px 20px;}
   footer {font-size: 1.1em;}
   footer nav a {display: block; border: 2px solid rgb(255,140,0);}
 
  ul.tabs {
  text-align: center;
  font-size: 15px;
  line-height: 1;
  list-style: none outside none;
  position: absolute;
  top: 0;
}
div.redux2 {
    padding-top: 200px;
  }
  
  li.tab {
  width: 120px;
  height: 60px;
}
   }

@media (max-width: 500px){
  div.redux2 {
    padding-top: 350px;
  }
}






